<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589883946267-70gd3vs5lr5cjgpk1b8fmsqjjbvpapjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589883946267-70gd3vs5lr5cjgpk1b8fmsqjjbvpapjo</string>
	<key>API_KEY</key>
	<string>AIzaSyAWIIOGnj_4NnA0rAvbIWrea-MWFGeqD3I</string>
	<key>GCM_SENDER_ID</key>
	<string>589883946267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-app-c80c3</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-app-c80c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589883946267:ios:08a1f709ac67adf2350fbe</string>
</dict>
</plist>